#navigation {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkslategray
}
.nav {
    float:left;
}

.nav a {
    display: block;
    color:rgb(0, 0, 0);
    text-align:center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav a:hover:not(.active) {
    background-color: whitesmoke;
}

.active {
    background-color:whitesmoke;
}

body {
    background-color: lightgray;
    }

#hbo_niveau {
    float:right;
    padding:20px;
    width:50%;
    background-color:rgb(124, 116, 116);
    height:300px;
}

#ict_opleiding {
    float:left;
    padding:20px;
    width:44%;
    background-color:rgb(124, 116, 116);
    height:300px;
}

#title_home {
    text-align: center;
    padding: 20px 0px 20px 0px;
    width:100%;
    background-color:lightgray;
}